body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav {
  font-size: 18px;
  font-weight: 500;
}

nav li:last-child a:hover {
  background-color: #a83c11;
}

nav li a {
  transition: all 0.1s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

.logo-main {
  height: 15vh;
  width: auto;
}

.cart-nav {
  height: 5vh;
  width: auto;
}

.cart-nav:hover {
  transition-duration: 0.1s;
  transform: rotate(-18deg);
}

section.hero {
  background: #d6d6d6;
  border-radius: 10px;
}

.size {
  background: #d6d6d6;
}

.add-to-cart {
  border: 2px solid #fe5f1e;
  color: #fe5f1e;
  transition: all 0.1s ease-in-out;
}
.add-to-cart:hover {
  background: #fe5f1e;
  border-color: #fff;
  color: #fff;
}

.btn-primary {
  background: #fe5f1e;
  transition: all 0.1s ease-in-out;
}
.btn-primary:hover {
  background: #a83c11;
}

section.cart .amount {
  color: #fe5f1e;
}
