body {
  font-family: "Balsamiq Sans", cursive;
  -webkit-font-smoothing: antialiased;
  color: #232323;
}

nav {
  font-size: 18px;
  font-weight: 500;
}

nav li:last-child a:hover {
  background-color: #a83c11;
}

nav li a {
  transition: all 0.1s ease-in-out;
}
nav li a:hover {
  color: #fe5f1e;
}

section.hero {
  background: #d6d6d6;
}
