// color
$primary: #fe5f1e;
$primary-hover: #a83c11;
$secondary: #d6d6d6;
$pure: #fff;
$dark: #232323;
$grey: #ccc;
$card: #e7e7e7;
// $current: #f34500;
$current: #249213;

//transition 
$smooth: all .1s ease-in-out;
