@import './_variables.scss';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

body{
    // font-family: 'Mali', Verdana, sans-serif;
    // font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav{
    font-size: 18px;
    font-weight: 500;
}

nav li:last-child a{
    &:hover{
        background-color: $primary-hover;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

.logo-main {
    height: 15vh;
    width: auto;
}

.cart-nav {
    height: 5vh;
    width: auto;
}

.cart-nav:hover {
    transition-duration: 0.1s;
    transform: rotate(-10deg);
}

#cart-img{
    padding: 4px;
    padding-left: 15px;
    padding-right: 10px;
    color: $primary;
    border-radius: 15px;
    border: 3px solid #ec571c;
    &:hover{
        background-color: #fff;
        color: #e6541b;
        border: 3px solid #a83c11;
        transition: $smooth;
        border-radius: 6px;
        filter: brightness(95%)
    }
}

section.hero{
    background: $secondary;
    border-radius: 10px;
}

.size{
    background: $secondary;
}

// .card{
//     background-color: $card;
// }

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    .amount{
        color: $primary;
    }
}

section.login{
    min-height: 77vh;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

.noty_theme__mint {
    border-radius: 50px!important;
    padding-left: 8px!important; 
    // background-color:rgb(79, 150, 60, 0.9)!important;
    // background-color:rgba(106, 177, 85, 1)!important;
    // background-color: #85cc6f!important;
    color:#222!important;
    font-weight: bold;
    letter-spacing: 1px;
}

a.link{
    color: $primary;
}


section.status {
    // background: $secondary;
    min-height: calc(100vh - 170px);
}

.status-box {
    padding: 60px 0 0;
}

.status-box ul li span {
    position: relative;
    padding-left: 20px;
}

.status-box ul {
    margin-left: 84px;
}

.status-box ul li {
    .status-box ul li {
        position: relative;
    }
}


// dots
.status-box ul li span:after {
    content: '';
    position: absolute;
    left: -10px;
    top:50%;
    background: $dark;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%);
    box-shadow:0 0 1px 10px $secondary;
}


// icons
.status-box ul li span:before{
    font-family: "Line Awesome Free";
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left: -90px;
    top: 50%;
    transform: translateY(-50%);
    color: inherit;
}
.status-box ul li:nth-child(1) span:before {
    content: '\f46c';
}

.status-box ul li:nth-child(2) span:before {
    content: '\f560';
}

.status-box ul li:nth-child(3) span:before {
    content: '\f818';
}

.status-box ul li:nth-child(4) span:before {
    content: '\f0d1';
}

.status-box ul li:nth-child(5) span:before {
    content: '\f582';
}
.status-box ul li {
    position: relative;
}

// Line
.status-box ul li:before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width: 2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
 }

// Last dot
.status-box ul li:nth-child(5) span:after {
    box-shadow:0 20px 1px 20px $secondary;
}

// line
.status-box ul li.step-completed:before {
    background: $primary;
}

// dots
.status-box ul li.step-completed span:after {
    background: $primary;
}

// text
.status-box ul li.step-completed span {
    color: $primary;
}

// Current status
.status-box ul li.current span {
    // color: #a83c11;
    color: $primary;
    color: $current;
    font-weight: bold;
    font-size: 125%;}

.status-box ul li.current span:after {
    background: $current;
}

.status-box ul li small {
    float: right;
    font-size: 14px;
    margin-top: 8px;
}

@media(max-width: 1060px) {
    .container{
        max-width: 90%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
@media(max-width: 760px) {
    .logo-main {
        max-height: 65px;
    }
}
@media(max-width: 630px) {
    .logo-main{
        max-height: 30px;
    }
    .cart-nav{
        max-height: 10px;
    }
}
@media(max-width: 900px) {
    .cart-nav{
        max-height: 30px;
    }
}
@media(max-width: 800px) {
    .cart-nav{
        max-height: 20px;
    }
}


