@import './_variables.scss';

body{
    // font-family: 'Mali', Verdana, sans-serif;
    // font-family: 'Balsamiq Sans', cursive;
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav{
    font-size: 18px;
    font-weight: 500;
}

nav li:last-child a{
    &:hover{
        background-color: $primary-hover;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
        color: $primary;
    }
}

.logo-main {
    height: 15vh;
    width: auto;
}

.cart-nav {
    height: 5vh;
    width: auto;
}

.cart-nav:hover {
    transition-duration: 0.1s;
    transform: rotate(-18deg);
}

section.hero{
    background: $secondary;
    border-radius: 10px;
}

.size{
    background: $secondary;
}

// .card{
//     background-color: $card;
// }

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}

.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background: $primary-hover;
    }
}

section.cart{
    .amount{
        color: $primary;
    }
}

section.login{
    min-height: 77vh;
    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }
}

